:root {
    // --bg-color: #000;
    // --text-color: #171717;  

    // --bcg-grey: #DEDEDE;  
    /* section change color */
    // --bcg-fill-color: var(--bcg-grey);
}
  
* {
    box-sizing: border-box;
    border-collapse: inherit;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}
// font-family: 'Questrial', sans-serif;
body {
    // font: 16px/1.7 "Questrial", sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    transition: background-color 1s linear;
    overscroll-behavior: none;
    overflow: hidden;
    overflow-x: hidden;

    // &.a-mobile {
    //     overflow: unset;
    // }
}
  
:not(body) {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
  
a {
    outline: none;
    color: inherit;
    text-decoration: none;
}
  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
article, section, .main-wrapper {
    will-change: transform;
}

// .fill-background {
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     position: fixed;
//     will-change: background-color;
//     background-color: var(--bcg-fill-color);
//     transition: background-color 0.3s linear;
//     z-index: -1;
// }

.line{
    width: 100%;
    height: 1px;
    background-color: #000;
}

section{
    padding: 0 8.33vw 0;
    position: relative;
    @media screen and (max-width:428px) {
        padding: 0 6.33vw 0;
    }
}

main{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    margin: auto;
    position: fixed;
    perspective: 1px;
}

.cursor {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform-origin: 100% 100%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    z-index: 9999;
    @media screen and (max-width: 800px) {
        // display: none;
    }
}

.scale-cursor{
    background: #fff;
    mix-blend-mode: difference;

    @media screen and (max-width: 835px) {
        // display: none;
    }
}