.proj-item-main {
    .proj-head {
        .proj-txt {
            flex-basis: 50%;

            &:first-child {
                padding-left: 16.66vw;

                @media screen and (max-width: 835px) {
                    order: 2;
                    flex-basis: 85%;
                    padding-left: unset;
                }

                &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 16.66vw;
                    height: 1px;
                    background-color: #fff;
                    top: 50%;
                    transform: translateY(-50%);
                    // right: -10%;
                    right: -11.68%;
                    
                    @media screen and (max-width: 1536px) {
                        right: -15.68%;
                    }

                    @media screen and (max-width: 1440px) {

                    }
                    
                    @media screen and (max-width: 1366px) {

                    }

                    @media screen and (max-width: 1024px) {

                    }

                    @media screen and (max-width: 906px) {

                    }

                    @media screen and (max-width: 835px) {
                        right: -11.68%;
                    }

                    @media screen and (max-width: 800px) {

                    }

                    @media screen and (max-width: 768px) {

                    }

                    @media screen and (max-width: 428px) {
                        right: -8.68%;
                    }

                    @media screen and (max-width: 412px) {

                    }

                    @media screen and (max-width: 390px) {

                    }
                }
            }
            &:nth-child(2) {
                padding-left: 8.33vw;

                @media screen and (max-width: 835px) {
                    flex-basis: 15%;
                    padding-left: unset;

                }
            }
        }

        .proj-title{
            word-break: break-word;
            // flex-basis: 100%;
            position: relative;
            // font-size: 14.583vw;
            // font-weight: 400;
            // // line-height: 13.194vw;
            // @media only screen and (max-width: 768px){
            //     order: 3;
            //     margin-top: 8.33vw;
            //     font-size: 15vw;
            //     line-height: 14.583vw;
            //     letter-spacing: -.3vw;
            // }
        }
    }
    .proj-content {
        // position: relative;
        // height: auto;
        // display: flex;
        // flex-wrap: wrap;
        &.reversed {
            .prj-wrapper {
                order: 2;
            }
            .prj-img {
                order: 1;
            }
        }
    }
    .prj-wrapper {
        // width: 33.33vw;
        // height: 69.55vw;
        @media screen and (max-width: 835px) {
            // order: 2;
            // width: unset;
            // height: unset;
        }
    }
    .prj-details {
        // padding: 8.33vw 8.33vw 0;
        // .fa-github {
        //     font-size: 1.66vw;
        //     color: rgb(75, 71, 71);
        //     &:hover {
        //     color: var(--text-color);
        //     }
        // }
        @media screen and (max-width: 835px) {
            // padding: 0;
            // margin: 8.33vw 0 0;
        }

        .prj-content {
            // margin-bottom: 2.8vw;
            @media screen and (max-width: 835px) {                
                margin-bottom: 4.16vw;
            }
        }
        .proj-txt {
            // margin-bottom: 0;
        }
        .prj-link {
            // display: block;
            // margin-top: 2.8vw;
            @media screen and (max-width: 835px) {
                // margin: 8.33vw 0;
            }

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                width: 8vw;
                height: 1px;
                background: #fff;
                transform: translateY(-50%);
                
                @media screen and (max-width: 1025px) {
                    height: 1px;
                }
                
                @media screen and (max-width: 493px) {
                    top: 43%;
                }
            }
            span {
                transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                transform: translateY(-50%);
            }
        }


    .prj-date {
        // bottom: 0;
        // left: 10vw;
        // width: 0;
        // height: 0;
        // transform: rotate(-90deg);
        // transform-origin: top left;
        h3{
            // flex-basis: 100%;
            // position: relative;
            // font-size: 14.583vw;
            // font-weight: 400;
            // line-height: 13.194vw;
            writing-mode: vertical-rl;
            transform: scale(-1);
            @media only screen and (max-width: 835px){
                // order: 3;
                // margin-top: 8.33vw;
                // font-size: 15vw;
                // line-height: 14.583vw;
                // letter-spacing: -.3vw;
                writing-mode: unset;
                transform: scale(1);
            }
        }
    }
    }
    .prj-img {
        // position: relative;
        // width: 48vw;
        // height: 69.55vw;
        // overflow: hidden;
        will-change: transform;
        @media screen and (max-width: 835px) {
            // order: 1;
            // width: 100%;
            // height: 120vw;
        }

        .img-src {
            will-change: transform;
            user-drag: none;
            pointer-events: none;
            @media screen and (max-width: 835px) {
                // top: -25%;
                // height: 105%;
            }
        }
    }
}