.tech-main{
    .tech-wrapper{
        .tech-container{

        }

        .tech-apps-main{

            img{
                user-drag: none;
                pointer-events: none;
            }
            // margin center
            .rethinkdb, .nodejs, .git, .github, .shopify, .postman, .insomnia, .javascript, .axios, .tailwind, .sass, .shopify, .wordpress {
                margin: 0 3.698vw;

                @media screen and (max-width: 1024px) {
                    margin: 0 5vw;
                }
            }

            // margin top 
            .nextjs, .typescript, .javascript, .gsap, .styledcomp, .tailwind, .sass, .html, .css, .git, .github, .gitlab, .bitbucket, .shopify, .wordpress, .insomnia, .postman, .axios, .lodash, .restful{
                margin-top: 4.688vw;
            }

            // 1024px
            // margin left
            .reactjs, .gsap, .restful, .typescript, .css, .bitbucket, .styledcomp{
                margin-right: 3vw;
                @media screen and (max-width: 1024px) {
                    margin-right: 4vw;
                }
            }

            // margin right
            .sass, .nextjs, .lodash, .gitlab, .empty, .html{
                margin-left: 3vw;
                @media screen and (max-width: 1024px) {
                    margin-left: 4vw;
                }
            }

            // 834px
            // margin left
            .reactjs, .github, .styledcomp, .javascript, .photoshop, .figma, .express, .postman, .html, .shopify{
                @media screen and (max-width:835px) {
                    margin: 0;
                    margin-right: 4vw;
                }
                
                @media screen and (max-width: 492px){
                    margin: 0;
                    margin: 0 0vw;
                }
            }

            // margin right
            .typescript, .adobexd, .nodejs, .insomnia, .typescript, .lodash, .sass, .git, .bitbucket{
                @media screen and (max-width:835px){
                    margin: 0;
                    margin-left: 4vw;    
                }
                
                @media screen and (max-width: 492px){
                    margin: 0;
                    margin: 0 0vw;
                }
            }

            // margin center
            .nextjs, .gsap, .illustrator, .restful, .nextjs, .axios, .tailwind, .css, .gitlab,  .wordpress{
                // @media screen and (max-width:1024px){
                //     margin: 0;
                //     margin: 0 4vw;
                // }
                @media screen and (max-width:835px){
                    margin: 0;
                    margin: 0 4vw;
                }
                
                // @media screen and (max-width: 492px){
                //     margin: 0;
                //     margin: 0 0vw;
                // }

            }

            // margin top
            .javascript, .gsap, .styledcomp, .tailwind, .sass, .html, .css, .git, .github, .gitlab, .bitbucket, .shopify, .wordpress, .figma, .express, .restful, .insomnia, .postman, .nextjs, .typescript, .lodash, .axios{
                @media screen and (max-width:835px){
                    margin-top: 8vw;                
                }
            }
        }
    }
}